.stan-populartopic-box {
  padding: 15px;
}

.stan-populartopic-kind {
  color: #ff969f;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  border-bottom: 1px dashed gray;
}

.populartopic-comment-sum {
  font-size: 12px;
  color: gray;
}

.populartopic-title {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}

.populartopic-nextpage {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-align: right;
  width: 100%;
  color: #39a9bf;
  text-decoration: none;
  cursor: pointer;
}

.populartopic-nextpage:hover {
  text-decoration: underline;
}
