.stan-topic-card {
  background-color: white;
  width: 680px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
}

.stan-popularlist-card {
  background-color: white;
  width: 300px;
  height: 550px;
}
